.app {
  width: 100vw;
  height: 100vh;

  &__root {
    color: blue;
  }
}

.counter {
  &__button {
    border: none;
    background-color: gray;
    
    &--increment {
      background-color: green;
    }

    &--decrement {
      background-color: red;
    }
  }
}